#tituloformulario {
    color: #2D3047;
    text-shadow: 2px 2px 4px #AFA2FF;
  }
  
  .formulario-container {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 7%;
    margin-bottom: 5%;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, select, button, file {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #0B3954;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #8B0000;
  }
  
  .botones {
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 412px) and (max-height: 915px) {
    body {
      font-size: 14px;
    }
    .dropdown-content {
      position: static;
      display: block;
    }
  
    .formulario-container {
      width: 90%;
      padding: 5px;
    }
  
    form {
      display: block;
    }
  
    label, input, select, textarea {
      width: 100%;
      margin-bottom: 30px;
    }
  
    .botones {
      flex-direction: column;
    }
  
    button {
      margin: 5px 0;
    }

    main{
      margin-bottom: 30%;
      margin-left: 2%;
    }
  }